annotated-types
APScheduler
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
firebase-admin
Flask
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-firestore
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
msgpack
numpy
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
requests
rsa
shapely
six
tqdm
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vertexai
Werkzeug
groq
pillow
googlesearch-python
dateparser
jsonify
googletrans==4.0.0-rc1

